[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=VuMetre3
Exec=/opt/VuMetre3/bin/VuMetre3
Icon=VuMetre3
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
